.inline-select {
  position: relative;
  background: tomato;
  display: inline-block;
  z-index: 9999
}
.inline-select-title {
  background: lightblue;
  display: block;
}
.inline-select-options {
  background: red;
  overflow: hidden;
  float: left;
  width: 100%;
  height: 0;
  transition: height 0.25s ease;
}
.ol {
  overflow: visible;
  display: inline-block;
  width: 100%;
}
.ol > span{
  background: lightgreen;
  width: 100%;
  float: left;
  clear: left;
}
.clear {
  clear: both;
}